

body {

    font: 15px Arial, sans-serif;
    /* background-color: #333333; */
    background-color: rgb(28, 30, 28);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "." "ay" ".";
    height: 100vh;
}


#midcolumn {
    grid-area: ay;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto 15px auto 1fr;
    grid-template-areas: ". yo yo ." ". . . ." ". ay links ." ". . . .";
}

#paintcanvas {
    grid-area: yo;
    background:rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    /* box-shadow: 0px 0px 10px 0px rgb(0,255,0); */
    border-radius: 5px;
    float:left;
    cursor: crosshair;

 }

 .doc-link-small {
     display: block;
     color: yellow;
 }

 #coords {
    background-color:white;
    padding: 10px;
    grid-area: ay;
    justify-self: start;
    border-radius: 5px;
    display: grid;
    border: 2px solid white;
    grid-template-columns: 25px 10px 10px 10px 30px 10px 10px 10px 30px;
    grid-template-areas: "im . x . x_val . y . y_val";
    align-items: center;
 }

 #links {
    /* background-color:white; */
    padding: 10px;
    grid-area: links;
    border-radius: 5px;
    justify-self: end;
    display: grid;
    grid-template-columns: 25px 5px auto 15px 25px 5px auto 15px 25px 5px auto;
    grid-template-areas: "im1 . l1 . im2 . l2 . im3 . l3";
 }

#links a {
    color: white;
}

.im {
    width: 25px;
    height: 25px;
}


#x {
    grid-area: x;
}
#x_val {
grid-area: x_val;
}
#y {
    grid-area: y;
}
#y_val {
    grid-area: y_val;
}